*{
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: sans-serif;
    text-align: center;
  color: #222;
  overflow: hidden;
  background: #1d1d1d;
  font-size: 24px; 
 
}


h1 {
  margin: 30px;
  color: white
}

.languages {
  height: 400px;
  width: 400px;
  margin: 10px auto;
  display: flex;
 

  flex-direction: column;
}

.language {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  border-radius: 10px;
  
  background-color: rgb(226, 19, 191);
  color: white;
  border: 1px solid #222;
  margin: 2px;
}

.voteCount {
  border-radius: 20%;
  display: flex;
  color:wheat;
  padding: 4px;
  background-color: black;
  justify-content: center;
  align-items: center;
  
}

.language button {

  background-color: #ee3c0f; 
  border-radius: 10px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
}
@media(max-width: 450px) {
  
  .language button {
    padding: 5px 25px;
  }
  .languages {
    height: 300px;
    width: 300px;
    margin: 10px auto;
    padding: 20px;
  }
  .language {
      
  }

}

 